<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">--><!-- Original value -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/dataTables.bootstrap.min.js"></script>
    <script src="/js/dependencies/dataTables.bootstrap4.min.js"></script>
    <script src="/js/dependencies/dataTables.foundation.min.js"></script>
    <script src="/js/dependencies/dataTables.jqueryui.min.js"></script>
    <script src="/js/dependencies/dataTables.material.min.js"></script>
    <script src="/js/dependencies/dataTables.responsive.js"></script>
    <script src="/js/dependencies/dataTables.semanticui.min.js"></script>
    <script src="/js/dependencies/dataTables.uikit.min.js"></script>
    <script src="/js/dependencies/excanvas.min.js"></script>
    <script src="/js/dependencies/jquery.colorhelpers.js"></script>
    <script src="/js/dependencies/jquery.dataTables.min.js"></script>
    <script src="/js/dependencies/jquery.flot.canvas.js"></script>
    <script src="/js/dependencies/jquery.flot.categories.js"></script>
    <script src="/js/dependencies/jquery.flot.crosshair.js"></script>
    <script src="/js/dependencies/jquery.flot.errorbars.js"></script>
    <script src="/js/dependencies/jquery.flot.fillbetween.js"></script>
    <script src="/js/dependencies/jquery.flot.image.js"></script>
    <script src="/js/dependencies/jquery.flot.js"></script>
    <script src="/js/dependencies/jquery.flot.navigate.js"></script>
    <script src="/js/dependencies/jquery.flot.pie.js"></script>
    <script src="/js/dependencies/jquery.flot.resize.js"></script>
    <script src="/js/dependencies/jquery.flot.selection.js"></script>
    <script src="/js/dependencies/jquery.flot.stack.js"></script>
    <script src="/js/dependencies/jquery.flot.symbol.js"></script>
    <script src="/js/dependencies/jquery.flot.threshold.js"></script>
    <script src="/js/dependencies/jquery.flot.time.js"></script>
    <script src="/js/dependencies/jquery.flot.tooltip.min.js"></script>
    <script src="/js/dependencies/jquery.flot.tooltip.source.js"></script>
    <script src="/js/dependencies/metisMenu.min.js"></script>
    <script src="/js/dependencies/morris.min.js"></script>
    <script src="/js/dependencies/raphael.min.js"></script>
    <script src="/js/dependencies/sb-admin-2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/dataTables.bootstrap.js"></script>
    <script src="/js/dataTables.bootstrap4.js"></script>
    <script src="/js/dataTables.foundation.js"></script>
    <script src="/js/dataTables.jqueryui.js"></script>
    <script src="/js/dataTables.material.js"></script>
    <script src="/js/dataTables.responsive.js"></script>
    <script src="/js/dataTables.semanticui.js"></script>
    <script src="/js/dataTables.uikit.js"></script>
    <script src="/js/excanvas.js"></script>
    <script src="/js/excanvas.min.js"></script>
    <script src="/js/jquery.colorhelpers.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/js/jquery.flot.canvas.js"></script>
    <script src="/js/jquery.flot.categories.js"></script>
    <script src="/js/jquery.flot.crosshair.js"></script>
    <script src="/js/jquery.flot.errorbars.js"></script>
    <script src="/js/jquery.flot.fillbetween.js"></script>
    <script src="/js/jquery.flot.image.js"></script>
    <script src="/js/jquery.flot.js"></script>
    <script src="/js/jquery.flot.navigate.js"></script>
    <script src="/js/jquery.flot.pie.js"></script>
    <script src="/js/jquery.flot.resize.js"></script>
    <script src="/js/jquery.flot.selection.js"></script>
    <script src="/js/jquery.flot.stack.js"></script>
    <script src="/js/jquery.flot.symbol.js"></script>
    <script src="/js/jquery.flot.threshold.js"></script>
    <script src="/js/jquery.flot.time.js"></script>
    <script src="/js/jquery.flot.tooltip.js"></script>
    <script src="/js/jquery.flot.tooltip.source.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/metisMenu.js"></script>
    <script src="/js/morris.js"></script>
    <script src="/js/raphael.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    <script src="/js/views/createRelease.js"></script>
    <script src="/js/views/uuid.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
